In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
del train['Embarked']
del train['PassengerId']

In [5]:
# map sex
train.Sex = train.Sex.map({'male':1,'female':2})

In [6]:
import re

def search_pattern (index):
    return re.search(',.*[/.\b]',train.Name[index])[0][2:-1]

train['Social_name'] = [search_pattern(counter) for counter in range(train.shape[0])]

In [7]:
train.Social_name.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme',
       'Mr. Carl', 'Ms', 'Major', 'Mrs. Martin (Elizabeth L', 'Lady',
       'Sir', 'Mlle', 'Col', 'Capt', 'the Countess', 'Jonkheer'],
      dtype=object)

In [8]:
train.Social_name.replace({'Mme':'Miss','Mr. Carl':'Mr','Ms':'Miss',"""Mrs. Martin (Elizabeth L""":'Mrs','Mlle':'Miss','the Countess':'Countess'},inplace=True)

In [9]:
train.Social_name.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Major', 'Lady',
       'Sir', 'Col', 'Capt', 'Countess', 'Jonkheer'], dtype=object)

In [10]:
for index in range(len(train.Social_name.unique())):
    
    a = train.Social_name.unique()[index]
    train.Social_name.replace({a:index},inplace = True)
    
del train['Name']

In [11]:
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Social_name
0,0,3,1,22.0,1,0,A/5 21171,7.2500,NaN,0
1,1,1,2,38.0,1,0,PC 17599,71.2833,C85,1
2,1,3,2,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,1,1,2,35.0,1,0,113803,53.1000,C123,1
4,0,3,1,35.0,0,0,373450,8.0500,NaN,0